/* Fondo semitransparente que cubre toda la pantalla */
.cookies-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

/* Caja modal */
.cookies-modal {
  background: #fafafa;
  color: #444444;
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 90%;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Base Mobile First */
.cookies-text {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.8;
  color: #444444;
}

.cookies-link {
  color: #12269e;
  text-decoration: underline;
}

.cookies-buttons {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.cookies-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.cookies-button.accept {
  background: #f9b347;
  color: #003366;
}

.cookies-button.accept:hover {
  background: #e0a533;
}

.cookies-button.reject {
  background: #777777;
  color: #fff;
}

.cookies-button.reject:hover {
  background: #555555;
}

/* TABLET Y DESKTOP */
@media (min-width: 600px) {
  .cookies-modal {
    width: 550px;
    padding: 2rem;
  }

  .cookies-text {
    font-size: 1.5rem;
  }

  .cookies-button {
    font-size: 1.5rem;
  }
}
