/* Mobile First */
.footer {
  background-color: #cadfdf;
  color: black;
  padding: 2rem 1rem;
  text-align: center;
}

.caja-logo-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5rem;
}

.footer-logo {
  width: 125px;
}

.footer-frase {
  font-style: italic;
  margin-bottom: 1.5rem;
}

.footer-redes a {
  margin: 0.5rem;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-redes a:hover {
  color: #00bfa6;
}

.footer-copy {
  margin-top: 2rem;
  font-size: 0.8rem;
  opacity: 0.7;
}

/* Desktop (≥1024px) */
@media (min-width: 1024px) {
  .footer {
    padding: 4rem;
  }

  .caja-logo-redes {
    justify-content: space-around;
  }

  .footer-logo {
    width: 300px;
  }

  .footer-redes a {
    margin: 1rem;
    font-size: 3.5rem;
  }

  .footer-redes a:hover {
    color: #00bfa6;
  }

  .footer-copy {
    margin: 8rem 0 2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
