/* Base Mobile First */
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  color: #12269e;
  font-size: 1.2rem;
}

/* Tablets (≥600px) */
@media (min-width: 600px) {
  .icons {
    gap: 25px;
    font-size: 1.5rem;
  }
}

/* Desktop (≥1024px) */
@media (min-width: 1024px) {
  .icons {
    gap: 30px;
    font-size: 1.8rem;
  }
}
